doctype html
html(lang='pt-br')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        title User Login System
        // CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    body
        .container
            nav.nav-wrapper.blue-grey
             .row
              .col.s3
                a.brand-logo(href='#') System Login
                a.button-collapse(href='#', data-activates='menu-mobile')
                    i.material-icons menu
              ul.left.hide-on-med-and-down
                    li(class=(title == 'Members' ? 'active':''))
                        a(href='/') Members
                    li(class=(title == 'Register' ? 'active':''))
                        a(href='/user/register') Register
                    li(class=(title == 'Login' ? 'active':''))
                        a(href='/user/login') Login
              ul#menu-mobile.side-nav(style='transform: translateX(-100%);')
                    li
                        a(href='/') Members
                    li
                        a(href='/register') Register
                    li
                        a(href='/login') Login

        block content
        // Scripts
        script(src='/js/jquery-2.1.1.min.js')
        script(src='/js/materialize.min.js')
        script(src='/js/custom.js')